<router-outlet>
<aside class="main-sidebar" id="sidebar">
    <section class = "sidebar">
     <ul class="sidebar-menu">
       <li class="treeview nav-font">
        <a [routerLink]="['/home']" routerLinkActive="router-link-active">
          <i class="material-icons">mouse</i>
           <span class="nav-font" >SETUP</span>
           <span class="glyphicon pull-right">&#xe080;</span>
         </a>
         <ul class="treeview-menu">
           <li class = "treeview">
             <a [routerLink]="['/home']" routerLinkActive="router-link-active">
            <span class="glyphicon">&#xe018;</span>
             <span> Network</span>
             <span class="glyphicon pull-right">&#xe080;</span>
           </a>
           <ul class = "treeview-menu">
             <li><a> Lan setting</a></li>
             <li> <a  [routerLink]="['/ipsetting']" routerLinkActive="router-link-active" > WiFi setting</a></li>
           </ul>
           </li>
           <li class = "treeview"> <a [routerLink]="['/parameter']" routerLinkActive="router-link-active">
            <span class="glyphicon glyphicon-list"></span>
             <span> Parameter</span>
             <span class="glyphicon pull-right">&#xe080;</span>
           </a>
           <ul class = "treeview-menu">
             <li><a>Body dimension</a></li>
             <li><a>Wheel raduis</a></li>
             <li><a>Speed</a></li>
             <li><a>I/O Assignment</a></li>
           </ul>
           </li>
         </ul>
       </li>
       <li class="treeview nav-font">
        <a>
          <i class="material-icons">my_location</i><span class="nav-font"> MAP</span>
          <span class="glyphicon pull-right">&#xe080;</span>
         </a>
         <ul class="treeview-menu">
           <li class = "treeview"><a  [routerLink]="['/map3-d']" routerLinkActive="router-link-active">
             <span>CREATE MAP</span>
             <span class="glyphicon pull-right">&#xe080;</span>
           </a>
           <ul class = "treeview-menu">
             <li><label class="switch">
               <input type="checkbox"  id="switch_slam" >
               <span class="slider round"></span>
             </label><label class="nav-toggle">Slam</label></li>
             <br>
             <li><button  [routerLink]="['/save-map']" routerLinkActive="router-link-active" type="button" class="btn btn-success" data-toggle="modal" id="save_map_btn"
              data-target="#saveMapModal">Save</button></li>
             <br>
             <li> Pick waypoint: <input type="checkbox" id="show_nav_marker" data-toggle="toggle" />
            </li><br>
            <li>
              <input type="text" id="waypointname" class="form-control" name="wname" onkeyup="setWaypointBtnActivation()" style="width: 80px;" placeholder="Name">
            </li>
             <br>
             <li>
              <button type="button" id="setwaypointbtn" class="btn btn-secondary" onclick="getPose()"
              disabled>Setway</button>
             </li>
             <br>
             <li class="treeview nav-font">
              <a [routerLink]="['/map-edit']" routerLinkActive="router-link-active" >
                <i class="material-icons">border_color</i><span class="nav-font"> MAP EDITOR</span>
              </a>
            </li>
            <li class="treeview nav-font">
              <a [routerLink]="['/mapupload']" routerLinkActive="router-link-active" >
                <span class="glyphicon">&#xe198;</span><span class="nav-font"> MAP UPLOAD</span>
              </a>
            </li>
             <li><a>Select map</a></li>
           </ul>
           </li>
           <li class = "treeview nav-font"> <a [routerLink]="['/map3-d']" routerLinkActive="router-link-active">
             <span>SET HOME</span>
             <span class="glyphicon pull-right">&#xe080;</span>
           </a>
           <ul class = "treeview-menu">
            <li><label class="switch">
              <input type="checkbox"  id="show_pose_marker">
              <span class="slider round"></span>
            </label>
            <label class="nav-toggle">Enable</label></li>
            <li>
            <br><button type="button" class="btn btn-success"onclick="setPoseCall()">Set post</button></li>
          </ul>
           </li>
           
           <li class = "treeview nav-font"><a href="#">
             <span>ZONE</span>
             <span class="glyphicon pull-right">&#xe080;</span>
           </a>
           <ul class = "treeview-menu">
             <li><a><i class="fa fa-warning"></i>SAFETY ZONE</a></li>
             <li><a><i class="fa fa-warning"></i>SPEED ZONE</a></li>
           </ul>
           </li>
         </ul>
       </li>
       <li class="treeview nav-font">
        <a [routerLink]="['/job']" routerLinkActive="router-link-active" id="Programming" class="nav-link" >
          <i class="material-icons">extension</i><span class="nav-font"> JOB COMMAND</span>
          <span class="glyphicon pull-right">&#xe080;</span>
         </a>
         <ul class="treeview-menu">
           <li class = "treeview"><a href="#">
            <span class="glyphicon">&#xe118;</span>
             <span>Project</span>
             <span class="glyphicon pull-right">&#xe080;</span>
           </a>
           <ul class = "treeview-menu">
             <li><a>Create program</a></li>
             <li><a>Load progrm</a></li>
             <li><a>Save program</a></li>
           </ul>
           </li>
         </ul>
       </li>
       <li class="treeview nav-font">
         <a href="#">
          <i class="material-icons">forum</i><span class="nav-font"> COMMUNICATION</span>
          <span class="glyphicon pull-right">&#xe080;</span>
         </a>
         <ul class="treeview-menu">
           <li class = "treeview"><a>
            <i class="material-icons">usb</i>
             <span>Communication</span>
             <span class="glyphicon pull-right">&#xe080;</span>
           </a>
           <ul class = "treeview-menu">
             <li><a>Central server</a></li>
             <li><a>PLC</a></li>
           </ul>
           </li>
         </ul>
       </li>
       <li class="treeview nav-font">
         <a [routerLink]="['/map3-d']" routerLinkActive="router-link-active">
          <i class="material-icons">desktop_mac</i><span class="nav-font"> MONITOR</span>
          <span class="glyphicon pull-right">&#xe080;</span>
         </a>
         <ul class="treeview-menu">
           <li class = "treeview"><a   [routerLink]="['/map3-d']" routerLinkActive="router-link-active">
             <!--i class="fa fa-save"></i-->
             <span>INAV Monitor</span>
             <span class="glyphicon pull-right">&#xe080;</span>
           </a>
           <ul class = "treeview-menu">
             <li><a>Status</a></li>
             <li><a>Position</a>
              <!---     current_position.x = message.pose.pose.position.x;
               current_position.y = message.pose.pose.position.y;
               current_position.y = message.pose.pose.position.z;-->
            <ul><a style="color: black;">X : {{robot_post.pose.pose.position.x}}</a></ul>
            <ul><a style="color: black;">Y : {{robot_post.pose.pose.position.y}}</a></ul>
            <ul><a style="color: black;">Z : {{robot_post.pose.pose.position.z}}</a></ul>
            </li>
            <li><a>Orientation</a>
              <ul><a style="color: black;">X : {{robot_post.pose.pose.orientation.x}}</a></ul>
              <ul><a style="color: black;">Y : {{robot_post.pose.pose.orientation.w}}</a></ul>
              <ul><a style="color: black;">Z : {{robot_post.pose.pose.orientation.z}}</a></ul>
              <ul><a style="color: black;">W : {{robot_post.pose.pose.orientation.w}}</a></ul>
              </li>
             <li><a>Way point</a></li>
             <li><a>Queue call</a></li>
           </ul>
           </li>
         </ul>
         <ul class="treeview-menu">
           <li class = "treeview"><a>
             <!--i class="fa fa-save"></i-->
             <span>Alarm monitor</span>
             <span class="glyphicon pull-right">&#xe080;</span>
           </a>
           <ul class = "treeview-menu">
             <li><a>Alarm logs</a></li>
             <li><a>Alarm Notification</a>
              <ul class = "treeview-menu">
                <li><a>Email</a></li>
                <li><a>Line</a></li>
              </ul></li>
           </ul>
           </li>
         </ul>
       </li>
       <br>
       <hr style="height:2px;border-width:0;color:gray;background-color:gray;width:230px">
        <li class="treeview">
         <a style="color:rgb(255, 255, 255)">Speed : <span id="speed"></span></a>
        </li>
       <li class="treeview">
        <div class= "GaugeContainer">
        <div class="GaugeMeter" id="GaugeMeter_1" data-width="20" data-total="20" data-style="Semi" data-showvalue=true></div>
      </div>
       </li>
       <li class="treeview">
         <button class="btn btn-danger" (click) = "restart()" style="margin-left:20px;">Restart</button>
       </li>
     </ul>
    </section>
     </aside>
    </router-outlet>