<div class="wrapper">
    <div class="content-wrapper">
        <div class = "container">
            <h3>Parameters setting</h3>
        </div>
        <div class = "row">
            <div class = "col-lg-6">
           <div class = "card">
            <div class = "card-title">
                <h4>Physical setting</h4>

            </div>
           </div>
            </div>
            <!----------------------------------------------------------->
            <div class = "col-lg-6">
                <div class = "card-title">
                 <div class = "card-header">
                     <h4>Physical setting</h4>
                 </div>
                </div>
                 </div>
            
        </div>
    </div>
</div>
