<div class = "content-wrapper">
        <div class="row">
            <div id="blocklyArea" class="col-lg-12" style="height:94vh;width:88vw; background-color: cyan;">
                <div id="blocklyDiv" style="width: 100vw; height: 94vh; background-color: blue;">
                </div>
                
                <div class="job-control">
                    <br>
                    <div class="row">
                    <button type="button" class="btn btn-success" value="run" onclick="runBlockly(this)"
                    id="run_blockly" (click) = "go_map3d()">Run</button>
                    </div>
                    <div class="row">
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#saveBlockyModal" id="save_blockly">Save</button>
                    </div>
                    <div class="row">
                    <button type="button" class="btn btn-warning" data-toggle="modal"
                    data-target="#loadBlockyModal" onclick="getFile()" id="load_blockly">Load</button>
                </div>
                </div>
            </div>
            
        </div>

        <div class="modal fade" id="loadBlockyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Choose Running Program</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <table class="table" id="filelist" (click) = "_loadBlockly()" data-dismiss="modal">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          
          </div>
        
</div>
