<div class="contents-wrapper">
<aside class="control-sidebar control-sidebar-dark" >
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab" (click)="load_blockly()"><i class="material-icons">pin_drop</i></a></li>
      <li><a href="#edit-load-map" data-toggle="tab" (click)="load_maps()"> <i class="material-icons">border_color</i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"  (click)= "createJoy()"><i class="material-icons" >gamepad</i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content" >
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
      <h4>Running</h4>
        <div class="container">
          <div class="row">
              <button type="button" class="btn btn-primary" onclick="loadMap()">
                  Reload
              </button>
              <button type="button" class="btn btn-danger" onclick="deleteAmap()">
                  Delete
              </button>
          </div>
          <br>
          <div class="span3 scroll">
              <table id="mapTable" data-click-to-select="true" data-single-select="true">
                  <thead >
                      <tr>
                          <th data-field="state" data-checkbox="true" (change) = "set_check($event)"></th>
                          <th data-field="name" >Map Name</th>
                      </tr>
                  </thead>
              </table>
              <div id="bottom"></div>
          </div>
          <br>
          <div class="row">
              <button type="button" class="btn btn-danger" onclick="deleteAwaypoint()">
                  Delete
              </button>
          </div>
          <br>
          <div class="bottom scroll" id = "scroll">
              <table id="waypointTable" data-click-to-select="true" data-single-select="true">
                  <thead>
                      <tr>
                          <th data-field="state" data-checkbox="true"></th>
                          <th data-field="name">Waypoint Name</th>
                      </tr>
                  </thead>
              </table>
          </div>

          <br>
          <div class="row">
              <label class="switch">
                <input type="checkbox"  id="switch_nav" [checked] = false (click) = "init_nav($event)">
                <span class="slider round"></span>
              </label><label class="nav-toggle">NAVIGATION : {{nav_check}}</label>
          </div>
          <br>
          <div class="row">
              <button type="button" class="btn btn-primary" onclick="sendGoal()">
                  Go
              </button><br><br>
              <div id="nav_status">Satus</div>
        </div>
      </div>
      </div><!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="edit-load-map">
          <ul class="sidebar-menu">
               <li><h4>Map editing</h4></li>
               <li class="treeview" *ngFor="let item of map_name"><a (click) = "get_edit_map(item.name)">{{item.name}}</a></li>
            </ul>
      </div><!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <!--div class="row">
          <canvas id="imuChart" width="200px" height="100px" style="background-color: rgb(219, 231, 231);"></canvas>
        </div-->
        <h4>Manual control</h4>
        <div class = "from-group" style="height: 300px;">
        <div id = "draggable">
            <div id="joy-div">
             <div id="joystick"></div>
           </div>
        </div>
      </div><!-- /.tab-pane -->
    <div class = "slidecontainer">
       <label for="linear_speed">LINEAR</label>
       <span> : {{linear}}</span>
       <input type="range" min="1" max="100"  class="linear" id="linear_speed" [(ngModel)]="linear" (change)= "adjust_linear()">
       <br>
       <label for="linear_speed">ANGLE</label>
       <span> : {{angle}}</span>
        <input type="range" min="1" max="100"  class="angle" id="angle_speed" [(ngModel)]="angle" (change) = "adjust_angle()">
     <br>
    </div>

  </div>
</div>
  </aside><!-- /.control-sidebar -->
</div>