<div class = "content-wrapper">
<div class = "container">
    <div class="row"style="margin-top: 10px;">
            <div class="col-lg-4 vertical-space">
                <img src="assets/img/3.jpg" alt="" height="170px">
            </div>
            <div class="col-lg-4 vertical-space">
                <img src="assets/img/17.jpg" alt="" height="170px">
            </div>
            <div class="col-lg-4 vertical-space">
                <img src="assets/img/8.jpg" alt="" height="170px">
            </div>
        </div>
        <div class="row"style="margin-top: 60px;">
            <div class="col-lg-4 vertical-space">
                <img src="assets/img/6.jpg" alt="" height="170px">
            </div>
            <div class="col-lg-4 vertical-space">
                <img src="assets/img/11.jpg" alt="" height="170px">
            </div>
            <div class="col-lg-4 vertical-space">
                <img src="assets/img/9.jpg" alt="" height="170px">
            </div>
        </div>
        <div class="row"style="margin-top: 60px;">
            <div class="col-lg-4 vertical-space">
                <img src="assets/img/7.jpg" alt="" height="170px">
            </div>
            <div class="col-lg-4 vertical-space">
                <img src="assets/img/17.jpg" alt="" height="170px">
            </div>
            <div class="col-lg-4 vertical-space">
                <img src="assets/img/18.jpg" alt="" height="170px">
            </div>
        </div>
    </div>
</div>
